.app {
  padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.text-row {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text-row p:first-child {
  margin-right: 8px;
}

.time-box {
  padding: 6px 8px;
  background-color: white;
  color: #282c34;
  white-space: nowrap;
}
